<!DOCTYPE html>
<html>
<head>
    <title>88-Pay Crypto Select</title>
    <link href=fcash.png rel=icon>
    <link href="style.css" rel="stylesheet">
</head>
<body>
     <br>
  <h1>Crypto Settings Panel</h1>
  <hr>

   <div style="display: flex; align-items: center; margin-right: 10px;">
      <form method="GET" action="/user">
        <button style="padding: 0 10px 0;">User Settings</button>
      </form>
      <form method="GET" action="/userobs">
        <button style="padding: 0 10px; margin-right: 10px; display: inline-block;">OBS Settings</button>
      </form>
      <form method="GET" action="/viewdonos">
        <button style="padding: 0 10px 0;">View Donations</button>
      </form>
      {{ if eq .Username "admin" }}
      <form method="GET" action="/usermanager">
        <button style="padding: 0 10px 0;">Admin Dash</button>
      </form>
      {{ end }}
  </div>
<div class="content">

    <br>
    <b style="color: lightsteelblue;">Enable Solana:</b>
    <table>
        <tr>
            <td>
                <div style="display: flex; align-items: center;">
                    <input type="checkbox" id="solana" style="width: auto;" {{ if .CryptosEnabled.SOL }}checked{{ end }}>
                    <label for="solana">Solana</label>
                </div>
            </td>
        </tr>
    </table>
    <input type="hidden" id="user_id" value="{{ .UserID }}">
    <button onclick="updateSelection()">Update</button>

    <br>
    <br>

    <form method="POST" action="/changeuser">
    <label for="solanaAddress"><b style="color: lightsteelblue;">Solana Address:</b></label>
    <input type="text" id="solanaAddress" name="solanaAddress" placeholder="{{.SolAddress}}" value="{{.SolAddress}}">

    <br>
    <br>

    <submit><b style="color: lightsteelblue;">Minimum Donation Amount (USD)</b></submit>
    <submit><input type="number" id="minUsdAmount" name="minUsdAmount" min="1"  value="{{.MinDono}}"></submit>
    <br>
    <br>

    <input type="submit" value="Update User Info" id="update-profile">

  </form>
    <hr>



</div>
<footer>
    <small><small>
        <p>88 Pay &copy; 2026.</p>
    </small></small>
</footer>
<script>
    function updateSelection() {
        const userId = document.getElementById('user_id').value;

        const checkboxIds = [
            'monero',
            'solana',
            'ethereum',
            'paint',
            'hex',
            'matic',
            'busd',
            'shiba_inu',
            'pnk'
        ];

        const selectedCryptos = checkboxIds.reduce((cryptos, id) => {
            cryptos[id] = document.getElementById(id).checked;
            return cryptos;
        }, {});

        console.log('User ID:', userId);
        console.log('Selected Cryptos:', selectedCryptos);

        sendSelectedCryptos(userId, selectedCryptos);
    }


async function sendSelectedCryptos(userId, selectedCryptos) {
    const response = await fetch('/updatecryptos', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ userId, selectedCryptos })
    });

    if (response.ok) {
        console.log('Cryptos updated successfully');
    } else {
        console.error('Error updating cryptos:', response.statusText);
        const responseBody = await response.text();
        console.error('Server error message:', responseBody);
    }
}


document.getElementById('moneroWallet').onchange = checkFiles;
  document.getElementById('moneroWalletKeys').onchange = checkFiles;

  function checkFiles() {
    const walletFile = document.getElementById('moneroWallet').files[0];
    const keysFile = document.getElementById('moneroWalletKeys').files[0];

    if (walletFile && keysFile) {
      document.getElementById('upload-button').disabled = false;
    } else {
      document.getElementById('upload-button').disabled = true;
    }
  }


</script>
</body>
</html>

